.main{
    width: 700px;
    margin: auto;
    background: red;
}
.left{
    background: green;
    float: left;
    width: 50%;
}
aside{
    background: blue;
    float: left;
}
aside ul{
    padding-left: 22px;
}
.left,aside{
    height: 200px;
}
li{
    display: inline;
}
